ul, li {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #999;
}
body {
    font-size: 18px;
    font-family: "微软雅黑";
    color: #c4e3f3;
    text-align: center;
    background-color: #6495ed;
    background-image: url("${ctx}/static/image/bg1.png");
}

.sys {
    border: 2px solid #6495ed;
    border-radius: 20px 30px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 70px;
    padding-left: 10ex;
    padding-right: 50px;
    padding-top: 10px;

}
h1{

    color: #c4e3f3;
}
.xt {
    margin-right: 80px;
    margin-top: 10px;
    padding-bottom: 2ex;
    padding-left: 10ex;
    padding-right: 10px;
    padding-top: 8px;

}
img{
    width: 80px;
    height: 80px;
}
img.password{
    width: 30px;
    height: 30px;
}
img.user{
    width: 30px;
    height: 30px;
}
.login {
    font-size: 0.5em;
    margin-left: 500px;
    margin-right: 50px;
    margin-top: 5px;
    margin-buttom: 100px;
    padding-buttom:50px;
    padding-left: 10px;
    padding-right: 10px;
}
.loginImage{
    margin-left: 0px;
}
.dl, .foot {
    margin-right: 0px;
    margin-top: 10px;
    margin-buttom: 100px;
    padding-top: 110px;
    padding-left: 200px;
    padding-right: 10px;
}
ul {
    height: 250px;
    overflow: hidden;
}
/*ul li {*/
/*line-height: 20px;*/
/*height: 20px;*/
/*}*/
.boxsize{
    width: 500px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Menlo, Consolas, monospace;
}

.center {
    text-align: center;
}

.fix {
    table-layout: fixed;
    width: 100%;
}

.red {
    color: #900;
    font-weight: bolder;
}

div.preview {
    background: #ffffe0;
    width: 980px;
    padding: 10px;
    margin: auto;
    display: none;
    border: 1px solid #ddd;
    -moz-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;
}

p.type {
    margin: 10px 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

p.title,
p.time {
    text-align: center;
    font-size: 26px;
    font-weight: bolder;
}

p.x,
p.t,
p.j,
p.b {
    margin: 10px 0;
    font-size: 20px;
}

textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 200px;
}

#question_hint {
    display: none;
}

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

td:hover {
    cursor: pointer;
}