<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="student">
    <select id="login" resultType="student" parameterType="student">
        SELECT *
        FROM db_demo.student
        WHERE username = #{username}
    </select>
    <resultMap id="students_map" type="class">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="startDate" column="startDate"/>
        <result property="finishDate" column="finishDate"/>
        <collection property="students" ofType="student">
            <id property="id" column="student_id"/>
            <result property="username" column="username"/>
            <result property="gender" column="gender"/>
            <result property="tel" column="tel"/>
        </collection>
    </resultMap>

    <select id="students" parameterType="int" resultMap="students_map">
        SELECT
        c.id,
        c.title,
        c.startDate,
        c.finishDate,
        s.id,
        s.email,
        s.username,
        s.gender,
        s.dob,
        s.tel
        FROM db_demo.class c INNER JOIN db_demo.student s
        ON c.id = s.classId
        WHERE c.id = #{id} OR number=#{number}
        ORDER BY s.id
    </select>
</mapper>