<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="student">
    <select id="login" resultType="student" parameterType="student">
        SELECT *
        FROM db_demo.student
        WHERE username = #{username}
    </select>
    <insert id="create" parameterType="student" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO db_demo.student VALUES (
            NULL,
            #{username},
            #{password},
            #{number},
            #{gender},
            #{idNumber},
            #{tel},
            #{email},
            #{startDate},
            #{finishDate},
            #{studentState},
            #{classId}
        )
    </insert>

    <resultMap id="students_map" type="student">
        <id property="id" column="sid"/>
        <result property="username" column="username"/>
        <result property="number" column="number"/>
        <result property="gender" column="gender"/>
        <result property="idNumber" column="idNumber"/>
        <result property="tel" column="tel"/>
        <result property="email" column="email"/>
        <result property="startDate" column="startDate"/>
        <result property="finishDate" column="finishDate"/>
        <result property="studentState" column="studentState"/>
        <association property="classes" javaType="classes">
            <result property="id" column="id"/>
            <result property="title" column="title"/>
        </association>
    </resultMap>
    <select id="queryClassesStudent" parameterType="int" resultMap="students_map">
        SELECT
            c.id,
            c.title,
            s.id AS sid,
            s.username,
            s.number,
            s.gender,
            s.idNumber,
            s.tel,
            s.email,
            s.startDate,
            s.finishDate,
            s.studentState
        FROM db_demo.class c LEFT JOIN db_demo.student s
                ON c.id = s.classId
        WHERE c.id=#{id}
    </select>

    <update id="modify" parameterType="int">
        UPDATE db_demo.student s
        SET
            s.username = #{username},
            s.password = #{password},
            s.number = #{number},
            s.gender = #{gender},
            s.idNumber = #{idNumber},
            s.tel = #{tel},
            s.email = #{email},
            s.startDate = #{startDate},
            s.finishDate = #{finishDate},
            s.studentState = #{studentState},
            s.classId = #{classId}
        WHERE id = #{id}
    </update>
<select id="search" resultType="student" parameterType="student">
    SELECT * FROM db_demo.student
</select>
    <select id="queryById" resultType="student" parameterType="int">
        SELECT * FROM db_demo.student WHERE id=#{id}
    </select>
    <delete id="remove">
        DELETE FROM db_demo.student WHERE id=#{id}
    </delete>
    <select id="queryWork" resultType="work">
        SELECT * FROM db_demo.work
    </select>
</mapper>